* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* back ground color for body of website*/
html,
body {
  background: #e2e5e3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e2e5e3, #e2e5e3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e2e5e3, #e2e5e3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}
h1 {
  font-family: "Comic Sans", sans-serif;
  font-weight: bold;
}

.navbar-dark .navbar-brand {
  font-size: 2em;
  font-family: "Pacifico", serif;
  color: white;
}

.square_image {
  width: 270px;
  height: 280px;
  border-radius: 50%;
}

.paragraph {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 1.6em;
  font-weight: bold;
}

.container {
  margin-top: 45px;
  margin-bottom: 65px;
}
